@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  background-color: antiquewhite;
  font-family: 'Lato', sans-serif;
}
.container {
  align-items: center;
  display: flex;
  margin: 0vh auto;
  margin-top: 0vh;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 5vh;
}
.setupWrapper {
  margin: 0px auto;
}

.bookPreview {
  margin: 2vh 0px;
}
.titleInput {
  width: 50vw;
  height: 5vh;
  padding: 0rem 0.5rem;
}
.alignStart {
  display: flex;
  align-self: flex-start;
}
.bookResultsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.resultWrapper {
  display: flex;
}
.welcomeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 35vh;
  width: 60vh;
  padding: 5vw;
}
.landingpageImage {
  width: 20vw;
  height: 20vh;
}
.welcomeText {
  font-weight: 500;
  margin-top: 2rem;
}

.loadingState {
  margin-top: 15vh;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .bookResultsWrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 499px) {
  .welcomeWrapper {
    width: 20rem;
    padding: 20px;
  }
  .titleInput {
    width: 20rem;
    padding: 0rem 0.5rem;
  }
  .landingpageImage {
    width: 12rem;
    height: 10rem;
  }
}
@media (min-width: 500px) {
  .welcomeWrapper {
    width: 25rem;
    padding: 20px;
  }
  .titleInput {
    width: 35rem;
    padding: 0rem 0.5rem;
  }
  .landingpageImage {
    width: 15rem;
    height: 10rem;
  }
  .bookResultsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
